<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Engineering" value="https://devdiv.pkgs.visualstudio.com/_packaging/Engineering/nuget/v3/index.json" />
    <add key="VS" value="https://devdiv.pkgs.visualstudio.com/_packaging/VS/nuget/v3/index.json" />
    <add key="Devdiv Engineering Feed" value="\\cpvsbuild\drops\engineering\nuget" />
  </packageSources>
</configuration>